@import 'mixin';
@import 'normalize';
@font-face
{
    font-family: 'll-font';
    src: url('../fonts/iconfont.eot'); /* IE9*/
    src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/iconfont.woff') format('woff'), /*  */
    url('../fonts/iconfont.ttf') format('truetype'), /* */
    url('../fonts/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.ll-font
{
    font-family: 'll-font' !important;
    font-size: 16/$ppr;
    font-style: normal;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: .2px;
    -moz-osx-font-smoothing: grayscale;
}


//dingdan-tab
.m-tab01 {
	width: 100%;
	height: 80/$ppr;
	background: #fff;
	border-bottom: 1px solid #e6e6e6;
	ul {
		width: 100%;
		display: table;
	}
	li {
		display: table-cell;
		text-align: center;
		line-height: 80/$ppr;
		font-size: 30/$ppr;
		color: #999;
		span {
			display: inline-block;
			height: 80/$ppr;
			@include box-sizing(border-box);
			&.active {
				color: $main-color;
				border-bottom: 2px solid $main-color;
			}
		}
	}
}

//dingdan-ITEM
.m-item01 {
	margin-top:20/$ppr;
	padding:20/$ppr 0/$ppr 20/$ppr 20/$ppr;
	background: #fff;
	border-top:1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
    &.nopadding{
        padding:0 0 0 20/$ppr;
    }
	.g-adr-start,.g-adr-end,.g-adr-active {
		height: 40/$ppr;
		line-height: 40/$ppr;
		position: relative;
		padding-left: 40/$ppr;
		font-size: 28/$ppr;
		&:before {
			width: 40/$ppr;
			height: 40/$ppr;
			line-height: 40/$ppr;
			text-align: left;
			font-size: 40/$ppr;
			content: "\e60a";
			position: absolute;
			left: 0;
			top: 0;
			color: #eb4f38;
		}
	}
	.g-adr-middle{
	    display: none;
	}

	.g-adr-start-line{
		padding-bottom: 8/$ppr;
		&:after {
			content: "";
			width: 2/$ppr;
			height: 12/$ppr;
			position: absolute;
			left: 19/$ppr;
			bottom: 0;
			background: #eb4f38;
		}
	}
	.g-adr-end-line{
		padding-top: 8/$ppr;
		&:after {
			content: "";
			width: 2/$ppr;
			height: 12/$ppr;
			position: absolute;
			left: 19/$ppr;
			top: 0;
			background: #11cd6e;
		}
	}

	.g-adr-end {
//		padding-bottom: 20/$ppr;
		&:before {
			top:8/$ppr;
			content: "\e620";
			color: #11cd6e;
		}
	}
	.g-adr-middle{
	    &:before {
            top:8/$ppr;
            content: "\e60d";
            color: #fd8c2a;
            top:0/$ppr;
            left:0;
        }
	}
	
	.g-adr-store{
//	    height: 80/$ppr;
        line-height: 40/$ppr;
        position: relative;
        padding-left: 40/$ppr;
        font-size: 28/$ppr;
	    &:before {
            width: 40/$ppr;
            height: 40/$ppr;
            line-height: 40/$ppr;
            text-align: left;
            font-size: 40/$ppr;
            content: "\e61d";
            position: absolute;
            left: 0;
            top: 0;
            color: $text-color-fd8;
        }
        p{
            margin-top:16/$ppr;
            line-height: 40/$ppr;
            span{
                font-family: arial;
            }
        }
        
	}
	.g-item {
		padding:0/$ppr 20/$ppr 20/$ppr 0;
		border-bottom: 1px solid #e6e6e6;
		font-size: 28/$ppr;
		color: $text-color-333;
		position: relative;
		&:last-child {
			border-bottom: 0 none;
		}
		&.nopadding{
		    padding-bottom:0;
		}
		&.g-item-brno {
			border: none;
		}
	}

	.g-pad {
		padding:30/$ppr 0;
		&.g-pad-active {
			border-bottom: none;
			&:after {
				-webkit-transform:rotate(90deg);
				transform:rotate(90deg);
			}
		}
		span{
		    color:#999;
		    line-height: 1;
		}
	}

	.g-item-des {
		padding:10/$ppr 0 0 0;
		p {
			color: #999;
			padding-top: 10/$ppr;
			line-height: 1;
			span {
				padding-right: 15/$ppr;
				&:last-child {
					padding-right: 0;
				}
			}
		}
	}
}

.z-item-cancel{
    padding-bottom: 0;
}

.g-item-order {
	width: 620/$ppr;
	height: 0;
	overflow: hidden;
	margin-left: -20/$ppr;
	background: #e6f8ff;
	padding-left: 20/$ppr;

	.g-order {
		width: 330/$ppr;
		padding:20/$ppr 185/$ppr 20/$ppr 105/$ppr;
		min-height: 80/$ppr;
		border-bottom: 1px solid #b1e9ff;
		position: relative;
		&:last-child {
			border-bottom: 0 none;
		}
	}
	.g-order-pic {
		width: 80/$ppr;
		height: 80/$ppr;
		overflow: hidden;
		border-radius: 50%;
		position: absolute;
		left: 0;
		top: 20/$ppr;
		img {
			width: 100%;
			height: 100%;
		}
	}
	.g-order-name {
		font-size: 24/$ppr;
		color: $text-color-333;
		padding-top: 10/$ppr;
	}
	.g-order-dis {
		font-size: 30/$ppr;
		color: $text-color-fd8;
		line-height: 1;
		padding-top: 10/$ppr;
	}
	.g-order-btn {
		width: 160/$ppr;
		position: absolute;
		right: 10/$ppr;
		top: 30/$ppr;
	}
}

.g-item-dirver{
    width: 620/$ppr;
    height: auto;
    overflow: hidden;
    margin-left: -20/$ppr;
//  background: #fff;
    padding-left: 20/$ppr;
    border-bottom: 1px solid #e6e6e6;
    margin-bottom:20/$ppr;

    .g-dirver {
        width: 330/$ppr;
        padding:0/$ppr 185/$ppr 20/$ppr 105/$ppr;
        min-height: 80/$ppr;
        border-bottom: 1px solid #b1e9ff;
        position: relative;
        &:last-child {
            border-bottom: 0 none;
        }
    }
    .g-dirver-pic {
        width: 80/$ppr;
        height: 80/$ppr;
        overflow: hidden;
        border-radius: 50%;
        position: absolute;
        left: 0;
        top: 0/$ppr;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .g-dirver-name {
        font-size: 32/$ppr;
        color: $text-color-333;
        padding-top: 10/$ppr;
        .g-dirname-single{
            color: #999;
        }
    }
    .g-dirver-dis {
        font-size: 30/$ppr;
        color: $text-color-fd8;
        line-height: 1;
        padding-top: 10/$ppr;
    }
    .g-dirver-btn {
        width: 160/$ppr;
        position: absolute;
        right: 20/$ppr;
        top: 10/$ppr;
        text-align: right;
        span{
            font-size: 26/$ppr;
            color:$main-color;
            text-align: right;
            line-height: 60/$ppr;
            white-space: nowrap;
        }
    }
}

.g-item-store{
    width: 620/$ppr;
    height: auto;
    overflow: hidden;
    margin-left: -20/$ppr;
    padding-left: 20/$ppr;
    border-bottom: 1px solid #e6e6e6;
    margin-bottom:20/$ppr;

    .g-store {
        width: 330/$ppr;
        padding:20/$ppr 185/$ppr 20/$ppr 105/$ppr;
        min-height: 80/$ppr;
        border-bottom: 1px solid #b1e9ff;
        position: relative;
        &:last-child {
            border-bottom: 0 none;
        }
    }
    .g-store-pic {
        width: 80/$ppr;
        height: 80/$ppr;
        overflow: hidden;
        border-radius: 50%;
        position: absolute;
        left: 0;
        top: 20/$ppr;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .g-store-name {
        font-size: 32/$ppr;
        color: $text-color-333;
        padding-top: 10/$ppr;
    }
    .g-store-dis {
        font-size: 30/$ppr;
        color: $text-color-fd8;
        line-height: 1;
        padding-top: 10/$ppr;
    }
    .g-store-btn {
        width: 160/$ppr;
        position: absolute;
        right: 20/$ppr;
        top: 30/$ppr;
        text-align: right;
        span{
            font-size: 26/$ppr;
            color:$main-color;
            text-align: right;
        }
    }
}
.g-release-btn {
    width: 160/$ppr;
    position: absolute;
    right: 20/$ppr;
    top: 0/$ppr;
    text-align: right;
    span{
        font-size: 26/$ppr;
        color:$main-color;
        text-align: right;
    }
}
//m-tab-bottom
.m-tab-bottom{
    width:100%;
    height:98/$ppr;
    background: #fff;
    border-top:1px solid #e6e6e6;
}

//orderdetail
.m-orderdetail{
    padding:20/$ppr 20/$ppr 0 20/$ppr;
//  line-height: 40/$ppr;
    font-size: 30/$ppr;
    color: #333;
    p:last-child{
        color: $main-color;
        font-size:26/$ppr;
    }    
}

.g-detail-dirver{
    width: 620/$ppr;
    height: auto;
    overflow: hidden;
    margin-left: -20/$ppr;
    padding-left: 20/$ppr;
    border-bottom: 1px solid #e6e6e6;
    margin-bottom:20/$ppr;
    .g-detail {
        width: 330/$ppr;
        min-height: 80/$ppr;
        padding:0/$ppr 185/$ppr 20/$ppr 105/$ppr;
        border-bottom: 1px solid #b1e9ff;
        position: relative;
        &:last-child {
            border-bottom: 0 none;
        }
        .g-dirver-pic {
	        width: 80/$ppr;
	        height: 80/$ppr;
	        overflow: hidden;
	        border-radius: 50%;
	        position: absolute;
	        left: 0;
	        top: 0/$ppr;
            img {
                width: 100%;
                height: 100%;
            }
        }
        .g-dirver-name {
            font-size: 32/$ppr;
            color: $text-color-333;
            padding-top: 10/$ppr;
            .g-dirname-single{
                color: #999;
            }
        }
        .g-dirver-dis {
            font-size: 30/$ppr;
            color: $text-color-fd8;
            line-height: 1;
            padding-top: 10/$ppr;
        } 
        .g-driver-contact{
            position: absolute;
            right: 10/$ppr;
            top: 10/$ppr;
            li{
                float:left;
                height:30/$ppr;
                line-height: 40/$ppr;
                font-size:24/$ppr;
                color:#666;
                padding:30/$ppr 30/$ppr 0;
                text-align: center;
                position:relative;
				border-left:1px solid #e6e6e6;
                &:last-child{
                    &:before{
                        width: 30/$ppr;
                        height: 30/$ppr;
                        content: "\e60f";
                        font-size: 30/$ppr;
                        color: #11cd6e;
                        position: absolute;
                        left: 40/$ppr;
                        top:0;
                        line-height: 30/$ppr;  
                    }
                }
                &:first-child{
                	border-left:0;
                    &:before{
                        width: 30/$ppr;
                        height: 30/$ppr;
                        content: "\e604";
                        font-size: 30/$ppr;
                        color: #fd8c2a;
                        position: absolute;
                        left: 40/$ppr;
                        top:0;
                        line-height: 30/$ppr;
                    }
                    &.active:before{
                        color: #666;
                    }
                }
                
            }
        }
    } 
    &.g-det-pad0 {
    	padding-top:0;
    	padding-bottom: 0;
    	margin-bottom: 0;
    	border-bottom: 0;
    	.g-detail {
    		padding-bottom: 0;
    	}
    }
}
.g-adr-detail{
    position: relative;
}
.u-addIcon{
    position:absolute;
    width: 30/$ppr;
    height: 30/$ppr;
//      background-color:red;
    right: 20/$ppr;
    top:35/$ppr;
    &:before{
        width: 30/$ppr;
        height: 30/$ppr;
        content: "\e603";
        font-size: 30/$ppr;
        color: #666;
        position: absolute;
        left: 0;
        top:0;
        line-height: 30/$ppr;
    }
}

.u-addIcon-active{
    &:before{
         -webkit-transform:rotate(45deg);
                 transform:rotate(45deg);
    }
   
}
.g-detail-time01,.g-detail-time02{
    padding-right:20/$ppr;
    color:#666;
    font-size:30/$ppr;
    span:last-child{
        color:#333;
    }
}
.g-detail-time01{
	overflow: hidden;
    border-bottom:1px solid #e6e6e6;
    padding:30/$ppr 20/$ppr 30/$ppr 0;
    &:first-child {
    	padding-top: 10/$ppr;
    }
    &:last-child {
    	padding-bottom: 10/$ppr;
    	border-bottom: 0;
    }
    &.g-pad{
        padding: 0;
        line-height: 80/$ppr;
        font-size: 30/$ppr;
    }
}
.g-pro-p {
	p {
		&:nth-of-type(1){
			padding-top: 10/$ppr;
		}
		padding-left: 0;
	}
}
.g-pro-name{
    color:#333;
    font-size:30/$ppr;
    border-bottom:1px solid #e6e6e6;
    padding:30/$ppr 0;
    &:first-child{
        padding:10/$ppr 0 30/$ppr;
    }
}
.g-pro-detail{
    width:100%;
//  height:200/$ppr;
    padding:20/$ppr 0 0;
    .g-pro-pic{
        margin-right:20/$ppr;
        width: 200/$ppr;
        height: 200/$ppr;
        img{
            width: 100%;
            height: 100%;
        }
    }
}
.g-pro-text{
	width: 380/$ppr;
//  height: 200/$ppr;
    line-height:50/$ppr;
    font-size:28/$ppr;
    color:#666;
    span {
    	padding-right: 10/$ppr;
    	&:last-child {
    		padding-right: 0;
    	}
    }
}
.m-detail-info{
    margin:20/$ppr 0 106/$ppr 0;
    padding:0 0 0 20/$ppr;
    background: #fff;
    border-top:1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    &.m-nomargin{
        margin-bottom:0;
    }
    p{
        padding-right: 20/$ppr;
        border-bottom: 1px solid #e6e6e6;
        height: 88/$ppr;
        line-height: 88/$ppr;
        &:last-child{
            border-bottom: none;
        }
        span{
//          height: 88/$ppr;
//          line-height:88/$ppr;
            color:#666;
            font-size:30/$ppr;
            &:first-child{
                float:left;
            }
            &:last-child{
                float: right;
                max-width: 450/$ppr;
                text-align: right;
                overflow: hidden;
                white-space: nowrap;
                text-overflow:ellipsis;
                color: #333;
            }
        }
        .g-info-name{
            padding-right:40/$ppr;
            position:relative;
            &:after{
                width: 30/$ppr;
                height: 30/$ppr;
                content: "\e60f";
                font-size: 30/$ppr;
                color: #11cd6e;
                position: absolute;
                right: 0;
                top:22/$ppr;
                line-height: 30/$ppr;   
            }
        }
        &:last-child {
        	border-bottom:0 ;
        }
    }
//  .c-storeArea{
//      line-height: 88/$ppr;
//      font-size: 30/$ppr;
//      dt{
//          width: 125/$ppr;
//      }
//  }
}
.m-detail-bottom{
    margin-top:20/$ppr;
    background: #fff;
    border-top:1px solid #e6e6e6;
    width: 100%;
    height: 86/$ppr;
    position: fixed;
    left: 0;
    bottom: 0;
    .g-cancle-btn{
        position: absolute;
        right: 200/$ppr;
        top:16/$ppr;
    }
    .g-pay-btn{
        position: absolute;
        right: 20/$ppr;
        top:16/$ppr;        
    }
}
//pay page
.m-pay-item{
    margin-top:20/$ppr;
    background: #fff;
    border-top:1px solid #e6e6e6;   
    .g-pay{
        padding: 0 20/$ppr;
        font-size: 32/$ppr;
        color: $text-color-333;
        height: 90/$ppr;
        line-height: 90/$ppr;
        font-weight: bold;
        border-bottom: 1px solid #e6e6e6;
        overflow: hidden;
        @include box-sizing($sizing:border-box);
        .g-pay-money{
            color:$com-color;
        }
        .setPas{
            max-width: 300/$ppr;
            text-align: right;
            font-size: 30/$ppr;
            font-weight: normal;
        }
        .font30,.font24{
            font-size: 30/$ppr;
            font-weight: normal;
            color: #7f7f7f;
        }
        .font24{
            font-size: 24/$ppr;
            margin-left: 12/$ppr;
            line-height: 96/$ppr;
        }
        &.offMoney{
            position: relative;
            &:after{
                width: 36/$ppr;
                height: 36/$ppr;
                content: "\e625";
                font-size: 36/$ppr;
                color: #b9b9b9;
                position: absolute;
                right: 20/$ppr;
                top:27/$ppr;
                line-height: 36/$ppr;
            }
            &.active{
                &:after{
                    content:"\e602";
                    color: $main-color ;
                }                
            }
        }
    }
}
.m-pay-password{
    padding: 0 0 0 20/$ppr;
    p{
        height: 90/$ppr;
        line-height: 90/$ppr;
        font-size: 32/$ppr;
        font-weight: bold;
        &:first-child{
            border-bottom:1px solid #e6e6e6;
        }
    }
}

.m-bank{
    padding: 0 0 0 20/$ppr;
    margin-top:20/$ppr;
    background: #fff;
    border-top:1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    color: #7f7f7f;
    font-weight: normal;
    .g-bankTitle{
        height: 90/$ppr;
        line-height: 90/$ppr;
        font-size: 30/$ppr;               
    }
    .g-bankList{
        padding-left:30/$ppr;
        .g-bank01,.g-bank02,.g-bank03{
            height: 120/$ppr;
            line-height: 120/$ppr;
            font-size: 30/$ppr;
            border-top: 1px solid #e6e6e6;
            color: #2e2e2e;
            .font24{
                font-size: 24/$ppr;
                color: #7f7f7f;
            }
            &.noborder{
                border-top: 0;
            }                    
        }
        .g-bank01{
            position: relative;
            &:after{
                width: 36/$ppr;
                height: 36/$ppr;
                content: "\e625";
                font-size: 36/$ppr;
                color: #b9b9b9;
                position: absolute;
                right: 20/$ppr;
                top:45/$ppr;
                line-height: 36/$ppr;
            }
            &.active:after{
                color: $main-color;
                content: "\e608";
            }
            
        }
    }
}

.f-delete{
    .g-bankList{
        padding-left: 60/$ppr;
        position: relative;
        .g-bank03{
            &:before{
                width: 36/$ppr;
                height: 36/$ppr;
                content: "\e630";
                font-size:36/$ppr;
                line-height: 36/$ppr;
                color: $text-color-fd8;
                position: absolute;     
                left: 0; 
                top: 42/$ppr;          
            }
        }               
    }
      
}

.u-pay-btn{
    margin: 50/$ppr 0 0/$ppr 0;
    .btn{
        background-color: $main-color;
        font-weight: bold;
        &.noUse{
            color: #5dd0ff;
        }
    }
    p{
        padding: 20/$ppr;
        color: #5d7aae;
        font-size: 26/$ppr;
    }
}
.m-warning{
    width: 282/$ppr;
//  height: 130/$ppr;
    padding: 40/$ppr;
    background-color: #6c6c6c;
    position: absolute;
    top:300/$ppr;
    left: 50%;
    margin: 0 0 0 -180/$ppr;
    border-radius: 5/$ppr;
    p{
        color: #fff;
        font-size: 30/$ppr;
        line-height: 42/$ppr;
    }
}
//paypage alertBox
.m-gray,.m-gray03{
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
//  display: none;
}

.m-passwordAlert{
    width: 500/$ppr;
    border-radius: 5/$ppr;
    height: 430/$ppr;
    background: #f2f2f2;
    position: fixed;
    left: 50%;
    top: 50%;
    margin: -215/$ppr 0 0 -250/$ppr;
    z-index: 100;
    overflow: hidden;
    p{
        text-align: center;
        @include box-sizing($sizing:border-box);
        line-height: 1;
        font-size: 30/$ppr;
        &.g-texttitle{
            line-height: 86/$ppr;
            border-bottom:1px solid #d6d7d9;            
        }
        &.g-text01{
            padding: 20/$ppr 0;
        }
        &.g-text02{
            font-size: 60/$ppr;
        }
        &.g-cancle{
            font-size: 34/$ppr;
            border-top: 1px solid #d6d7d9;
//          height: 90/$ppr;
            line-height: 90/$ppr;
        } 
    } 
    .g-password{
        width: 404/$ppr;
        height: 70/$ppr;
        background: #fff;
        border:1px solid #d6d7d9;
        margin: 24/$ppr auto;
        display: block;
        text-indent: 10/$ppr;
        font-size: 30/$ppr;
        line-height: 40/$ppr;
    }  
    
}

.m-payalert{
    width: 500/$ppr;
//  height: 290/$ppr;
    background: #f2f2f2;
    border-radius: 5/$ppr;
    position: fixed;
    z-index: 100;
    left: 50%;
    top: 50%;
    margin-left: -250/$ppr;
    -webkit-transform:translate3d(0,-50%,0);
    transform:translate3d(0,-50%,0);
//  display: none;
    .g-paycode{
        width: 390/$ppr;
        padding: 40/$ppr 55/$ppr 30/$ppr;
        p{
            line-height: 38/$ppr;
            font-size: 26/$ppr;
            color: #7f7f7f;
            padding-bottom: 4/$ppr;
        }
        .g-payinput{
            height: 52/$ppr;
            font-size: 26/$ppr;
            input{
                width: 226/$ppr;
                height: 52/$ppr;
                border:2/$ppr solid #e6e6e6;
                @include box-sizing($sizing:border-box);
                background: #ffffff;
//              border-radius: 5/$ppr;
                padding-left:6/$ppr;
            }
            a{
                width: 140/$ppr;
                height:52/$ppr;
                @include box-sizing($sizing:border-box);
                border:1px solid #999;
                color:$text-color-fd8;
                text-align: center;
                line-height: 50/$ppr;
                background-color: #f0f0f0;
                border-radius: 5/$ppr;
            }
        }
        &.g-paycode-center {
        	text-align: center;
        }
    }
    .g-pay-confirm{
        a{
            height: 90/$ppr;
            line-height: 90/$ppr;
            text-align: center;
            font-size: 34/$ppr;
            color: $text-color-333;
            border-top: 1px solid #d6d7d9; 
            display: block;
        }
        
    }
}
.g-paybtn{
    overflow: hidden;
    border-top:1px solid #d6d7d9 ;
    li{
        float:left;
        width: 50%;
//      height: 90/$ppr;
        @include box-sizing($sizing:border-box);
        &:first-child{
            border-right: 1px solid #d6d7d9;
        }
        a{
            display: block;
            width: 100%;
            height: 90/$ppr;
            line-height: 90/$ppr;
            text-align: center;
            font-size: 34/$ppr;
            color: $text-color-333;
            &.f-pay-succ {
            	color: #28b3ec;
            }
        }
    }
}
.u-green{
    margin-top:20/$ppr;
    font-size: 22/$ppr;
    line-height: 34/$ppr;
    color:$text-color-333;
    padding: 0 0 0 60/$ppr;
    position:relative;
    &:before{
        width: 34/$ppr;
        height: 34/$ppr;
        content: "\e629";
        font-size: 34/$ppr;
        color: $com-color;
        position: absolute;
        left: 20/$ppr;
        top:0/$ppr;
        line-height: 34/$ppr;
    }
    &.u-tip{
        &:before{
            content: "\e62d";
        }
    }
    a{
        color:$main-color;
    }
}
//pay success
.m-paysuccess{
    padding:140/$ppr 90/$ppr 0;
    width: 460/$ppr;
    .g-paysuccess-item01{
        p{
            font-size: 32/$ppr;
            color:$text-color-333;
            line-height: 50/$ppr;
            text-align: center;
            &:first-child{
                position: relative;
                &:before{
                    width: 40/$ppr;
                    height: 40/$ppr;
                    line-height: 50/$ppr;
                    text-align: left;
                    font-size: 40/$ppr;
                    content: "\e608";
                    position: absolute;
                    left: 30/$ppr;
                    top: 0;
                    color: #46ab5b;
                }
            }
        }
    }
    .g-paysuccess-item02{
        padding: 50/$ppr 0 70/$ppr;
        p{
            line-height: 40/$ppr;
            color:#999;
            font-size:26/$ppr;
            text-align: center;
            i{
                color:$text-color-fd8;
            }
        }
    }
    .u-order-btn{
        width: 200/$ppr;
        height: 60/$ppr;
        margin: 0 auto;
        position: relative;
//      @include box-sizing($sizing:border-box);
//      border:2/$ppr solid #808080;
//      border-radius: 10/$ppr;
        a{
            position: absolute;  
            top: 0;
            left: 0;
            width: 200/$ppr;
            height: 60/$ppr;
            line-height: 60/$ppr;
            text-align: center;
            font-size: 28/$ppr;
            color:$text-color-666;
            @include box-sizing($sizing:border-box);
            border:2/$ppr solid #808080;
            border-radius: 5/$ppr;
        }
            
    }
}

///////release part
.m-releasehead{
    padding: 0 70/$ppr 0 20/$ppr;
    background-color: #2b7df6;
    font-size:32/$ppr; 
    position:relative;
    .g-adr-end,.g-adr-start,.g-adr-middle,.g-adr-pass{
        padding-left: 50/$ppr;
        position:relative;
        @include box-sizing($sizing:border-box);
        font-size:32/$ppr;      
        &:before{
            width: 40/$ppr;
            height: 40/$ppr;
            line-height: 40/$ppr;
            text-align: left;
            font-size: 40/$ppr;
            content: "\e60a";
            position: absolute;
            left: 0;
            top: 25/$ppr;
            color: #fff;
            z-index: 3;
        }
        p{
            font-size:32/$ppr;
            border-bottom: 1px solid #e6e6e6;
            border-radius: 0;
            min-height: 90/$ppr;
            line-height: 1.2;
            padding: 28/$ppr 0;
            width: 100%;
            color: #fff;
            @include box-sizing(border-box);
        }
    }   
    .g-adr-pass{
        &:before{
           content: "\e60d";
           color: #fff; 
        }
    }
    .g-adr-middle{
        position: relative;
        &:before{
            content: "";
            width: 2/$ppr;
            height: 100%;
            position: absolute;
            left: 19/$ppr;
            top: 0/$ppr;
            background: #fff;
        }
        input{
            &::-webkit-input-placeholder { color: #9dd5fd; }
            &:-moz-placeholder { color:  #9dd5fd;}
            &:-ms-input-placeholder { color: #9dd5fd;}
            border-bottom: 1px solid #9dd5fd;
            color: #9dd5fd;
        }
    }
    .g-adr-start{
        &:before{
           content: "\e620";
           color: #9dd5fd; 
        }
        p{
            border-bottom: none;
            color: #9dd5fd;
        }
        &.g-adr-car{
            &:before{
                content: "\e60a";
            }
        }
    }  
    .g-adr-end{
        &.g-adr-car{
            &:before{
                content: "\e620";
            }
        }
    } 
    .g-adr-end-line,.g-adr-pass-line,.g-adr-start-line{
//      padding-bottom: 8/$ppr;
        &:after {
            content: "";
            width: 2/$ppr;
            height: 100%;
            position: absolute;
            left: 19/$ppr;
            top: 60/$ppr;
            background: #fff;
        }
    }
    .g-adr-end-line{
//      padding-bottom: 8/$ppr;
        &:after {
            content: "";
            width: 2/$ppr;
            height: 100%;
            position: absolute;
            left: 19/$ppr;
            top: 60/$ppr;
            background: #fff;
        }
        .icon-mask {
            width: 24/$ppr;
            height: 24/$ppr;
            position: absolute;
            left: 8/$ppr;
            top: 28/$ppr;
            background: #2b7df6;
            border-radius: 50%;
            z-index: 2;
        }
    }
    .g-adr-end-line.g-adr-car{
        &:after{
            //height: 27/$ppr;
            bottom:2/$ppr;
        }
    }
    .g-adr-start-line{
        &:after{
            background: #9dd5fd;
            top:0/$ppr;
            height: 28/$ppr;
        }
        .icon-mask {
            width: 24/$ppr;
            height: 24/$ppr;
            position: absolute;
            left: 8/$ppr;
            top: 27/$ppr;
            background: #2b7df6;
            border-radius: 50%;
            z-index: 2;
        }
    }
    .g-adr-start-line.g-adr-car{
        &:after{
            height: 27/$ppr;
        }
    }
    .g-adr-pass-line{
        &:after{
            height:100%;
            background: #fff;
            top:0/$ppr;
            z-index: 0;
        }
        .icon-mask {
            width: 24/$ppr;
            height: 24/$ppr;
            position: absolute;
            left: 8/$ppr;
            top: 28/$ppr;
            background: #2b7df6;
            border-radius: 50%;
            z-index: 2;
        }
    }
    .u-addIcon{
        top:120/$ppr;
        &:before{
            color:#9dd5fd;
        }
    }
}

  
.m-releaseitem{
    margin-top:20/$ppr;
    background: #fff;
    border-top:1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    padding:0 0 0 20/$ppr;
    >div{
        min-height: 20/$ppr;
    	padding:28/$ppr 0;
        font-size:32/$ppr;
        color:$text-color-333;           
        position:relative;
        border-top: 1px solid #e6e6e6;
        @include box-sizing($sizing:border-box);     
        &.g-releaseDl{
            dd{
                p{
                    padding:28/$ppr 0;
                    border-bottom: 1px solid #e6e6e6;
                    &:first-child{
                        padding-top: 0;
                    }
                    &:last-child{
                        padding-bottom: 0;
                        border-bottom: 0;
                    }
                }
            }
        }        
        &:first-child{
            border-top:0;
        }  
        span{
            margin-right: 5/$ppr;
            &:first-child{
                font-weight: 700;
                display: inline-block;
                width: 145/$ppr;
                margin-right: 0;
                vertical-align: top;
            }  
            // &:last-child{
            //     display: inline-block;
            //     max-width: 450/$ppr;
            //     white-space: nowrap;
            //     text-overflow: ellipsis;
            //     //overflow: hidden;
            // }             
        }  
        &.g-testCode{
            position: relative;
            height: 88/$ppr;
            span{
                &:first-child{
                    width: 80/$ppr; 
                    position:relative;
                    &.icon{
                        &:before{
                            width: 30/$ppr;
                            height: 35/$ppr;
                            line-height: 35/$ppr;
                            text-align: left;
                            font-size: 32/$ppr;
                            content: "\e623";
                            position: absolute;
                            left: 10/$ppr;
                            top: -2/$ppr;
                            color: $main-color;
                        }
                        &.icon-pas01{
                            &:before{
                                content: "\e61e";
                                color:#2884ec;
                            }                        
                        }
                        &.icon-pas02{
                            &:before{
                                content: "\e61e";
                                color:#0cd13b;
                            }
                        }
                        &.icon-pas03{
                            &:before{
                                content: "\e624";
                                color:#0cd13b;
                            }
                        }                     
                    }                    
                }
            }
            .g-dirver-btn{
                position: absolute;
                right: 20/$ppr;
                top: 20/$ppr;
                padding: 0;
                .u-btn02{
                    background: #28b3ec;
                    color: #fff;
                }
            }
        }   
        input{
            &::-webkit-input-placeholder { color: #acabab; }
            &:-moz-placeholder { color:  #acabab;}
            &:-ms-input-placeholder { color: #acabab;}
            font-size:30/$ppr;
            padding: 0;
            &.weight{
                width: 125/$ppr;
                height: 45/$ppr;
                border: 1px solid #e6e6e6;
                border-radius: 5/$ppr;
                text-indent: 5/$ppr;
                margin:-10/$ppr 10/$ppr -8/$ppr 0;
                &.car{
                    width: 240/$ppr;
                }
            }
        }
        &.choicePic{
            line-height: 84/$ppr;
            position: relative;
            input{
                &:last-child{
                    width: 100/$ppr;
                    height:100/$ppr;
                    position: absolute;
                    right: 20/$ppr;
                    top:20/$ppr;
                    background: pink;
                    opacity: 0;
                }
            }
            figure{
                position: absolute;
                width: 100/$ppr;
                height:100/$ppr;
                right: 20/$ppr;
                top: 20/$ppr;
                margin: 0;
                border: 1px solid #E6E6E6; 
//              padding: 15/$ppr;
                @include box-sizing($sizing:border-box);
                span{
                    margin: 15/$ppr;
                    width: 70/$ppr;
                    height:70/$ppr;
                    border-radius: 50%;
                    background: $main-color;
                    position: relative;
                    &:before{
                        width: 39/$ppr;
                        height: 32/$ppr;
                        line-height: 32/$ppr;
                        text-align: left;
                        font-size: 32/$ppr;
                        content: "\e62b";
                        position: absolute;
                        left: 19/$ppr;
                        top: 18/$ppr;
                        color: #fff;
                        font-weight: normal;
                    }
                } 
                img{
                    width: 100%;
                    height: 100%;
                }       
            }
        }
       i{
           color: #acabab;
           font-size: 30/$ppr; 
        }
        .star{
           color: #666;
           padding-top: 20/$ppr;
       }
//      .iconFont{
//          font-size: 28/$ppr;
//          padding-top: 20/$ppr;
//      }
        
        &.g-releaseDl{
            dl{
                dd{
                    width: 475/$ppr;
                    > div {
                        padding: 28/$ppr 0 28/$ppr 0;
                        border-bottom: 1px solid #E6E6E6;
                        position: relative;
                        font-size: 32/$ppr;
                        &:first-child{
                            padding-top:0;
                        }
                        &:last-child{
                            padding-bottom:0;
                            border-bottom: 0;
                        }
                        
                        .price{
                            width: 218/$ppr;
                            height: 50/$ppr;
                            border:1px solid #E6E6E6;
                            border-radius: 5/$ppr;
                            text-indent: 15/$ppr;
//                          text-align: center;
                            margin-top: -9/$ppr;
                            margin-bottom: -9/$ppr;
                            
                        }
                        &:first-child{
//                              padding-top:0;
                            &:before{
                                top:-2/$ppr;
                            }
                        }                                                                                           
                    }
                }
            }
        }        
    }  
    .u-personIcon{
        &:after{
            width: 36/$ppr;
            height: 36/$ppr;
            line-height: 36/$ppr;
            text-align: left;
            font-size: 36/$ppr;
            content: "\e621";
            position: absolute;
            right: 20/$ppr;
            top: 25/$ppr;
            color: $text-color-666;
        }
        em {
            width: 36/$ppr;
            height: 36/$ppr;
            line-height: 36/$ppr;
            position: absolute;
            right: 20/$ppr;
            top: 25/$ppr;
            color: $text-color-666;
            z-index: 2;
        }
        &.u-close{
            &:after{
                 content: "\e62e";
                 color: #ccc;
            }          
        }
        .input-weak {
            width: 400/$ppr;
        }
    }
    .u-voice{
        &:after{
            width: 40/$ppr;
            height: 40/$ppr;
            line-height: 40/$ppr;
            text-align: left;
            font-size: 40/$ppr;
            content: "\e62a";
            position: absolute;
            right: 20/$ppr;
            top: 25/$ppr;
            color: $text-color-666;
        }
//      input{
//          max-width: 400/$ppr;
//          //line-height: 1;
//      }
    }
    .input-weak{
        max-width: 400/$ppr;
    }
    .title{
        font-size: 32/$ppr;
        font-weight: bold;
        padding: 15/$ppr 0;
    }
    .carType-con {
        padding:0;

        .carType{
            background-color:#e6f8ff;
            border-bottom:1px solid #b1e9ff;
            margin-left: -20/$ppr;
            padding-left: 20/$ppr;
            line-height: 90/$ppr;
            &:last-child {
                border-bottom: 0;
            }
        }
    }
}



.radio{
    width: 36/$ppr;
    height: 36/$ppr;
    position:relative;
    z-index: 2;
    &:before{
        width: 36/$ppr;
        height: 36/$ppr;
        line-height: 36/$ppr;
        text-align: left;
        font-size: 36/$ppr;
        content: "\e625";
        position: absolute;
        left: 0;
        top: 0/$ppr;
        color: $bot-border-color;
    }
    &.checked{
        &:before{
            content: "\e608";
            color: $main-color;
        }
    }
}
.g-radio{
    label{
        //margin-right: 0/$ppr;
    }
}
.m-releasehead02{
    padding: 0 20/$ppr 0 20/$ppr;
    background-color: #2b7df6;
    font-size:32/$ppr;    
    .g-adr-item{
        font-size:32/$ppr;
        border-top: 1px solid #9dd5fd;
        padding:30/$ppr 0;
        width: 100%;
        color: #9dd5fd;
        position:relative;
        &:first-child{
            border-top: none;
            &:after {
            	color: #9dd5fd;
            }
        }
    }
}

.m-store{
    margin-top:20/$ppr;
    background: #fff;
    border-top:1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    >div{
        padding: 20/$ppr 200/$ppr 20/$ppr 20/$ppr;
        border-bottom: 1px solid #e6e6e6;
        position: relative;
        &:last-child{
            border-bottom:0;
        }
        p{
            font-size: 32/$ppr;
            color:$text-color-333;
            line-height: 54/$ppr;
            font-weight: bold;
        }
        span{
            font-size: 30/$ppr;
            color:$text-gray ;
            line-height: 42/$ppr;
        }
        a{
            width: 160/$ppr;
            height:60/$ppr;
            line-height: 60/$ppr;
            text-align:center;
            position: absolute;
            right: 20/$ppr;
            top:50%;
            margin-top: -30/$ppr;
            border-radius: 5/$ppr;
            font-size:34/$ppr;
            color: #fff;
            background-color: $main-color;
        }
    }
    .g-storeTime{
        padding: 0 0 0 20/$ppr;
        background-color: #e6f8ff;
        border-bottom: 0;
        p{
            font-weight: normal;
            line-height: 94/$ppr;
            border-bottom:1px solid #b1e9ff;
        }
    }
    
}

.u-comment{
    padding: 30/$ppr 20/$ppr 0 0;
    .text{
        width: 100%;
        padding: 20/$ppr;
        min-height: 120/$ppr;
        line-height: 32/$ppr;
        font-size:28/$ppr;
        color: $text-color-666;
        @include box-sizing($sizing:border-box);
        resize: none;
        border: 1px solid #dbdbdb;
        border-radius: 5/$ppr;
        background: #f9fafa;
        outline: none;

    }
    
}
.g-radio {
    @include flexbox();
    .radio-box {
        width: 100%;
        padding:0;
        @include flex(1);
    }
}
.m-bankPic{
    margin:20/$ppr 0;
    background: #fff;
    border-top:1px solid #e6e6e6;
    .g-bankPic{
        padding: 30/$ppr;
        border-bottom: 1px solid #e6e6e6;
        a{
            width: 140/$ppr;
            height:34/$ppr;
            display: block;
            img{
                width: 100%;
                height: 100%;
            }
        }
        
    }
}

//aboutus
.m-aboutUs{
    padding: 30/$ppr 20/$ppr 0;
    font-size: 26/$ppr;
    line-height: 36/$ppr;
    color: $text-color-333;
    .g-aboutCon{    
        text-indent: 50/$ppr;        
        margin-bottom: 36/$ppr;       
    }
    .g-titleItem{
        font-size: 26/$ppr;
//      line-height: 36/$ppr;
        margin-bottom: 36/$ppr;
        font-weight: bold;
    }
}
//searchNoresult
.m-searchNoresult{
    margin: 200/$ppr 0 370/$ppr;
    padding: 0 20/$ppr;
    .g-bgPic{
        width: 75/$ppr;
        height: 75/$ppr;
        margin: 0 auto 40/$ppr;
        background: url(../images/noresult.png) no-repeat;
        background-size: contain;
    }
    .g-txt{
        font-size: 32/$ppr;
        font-weight:bold;
        color: #999;
        text-align: center;
    }
}


